<div class="chooser-container">
  <div class="chooser-box">
    <h2>Choose Your Registration Type</h2>
    <p>Please select the type of account you'd like to create:</p>

    <div class="button-group">
      <button class="btn btn-user" routerLink="/register/user">
        <i class="fas fa-user"></i> Register as User
      </button>
      <button class="btn btn-tailor" routerLink="/register/tailor">
        <i class="fas fa-cut"></i> Register as Tailor
      </button>
      <button class="btn btn-material" routerLink="/register/material">
        <i class="fas fa-store"></i> Register as Material Supplier
      </button>
    </div>

    <div class="text-center mt-3">
      Already have an account? <a routerLink="/login">Login here</a>
    </div>
  </div>
</div>